.health-bar {
    width: 60%;
    border: 2px solid black;
    margin-left: 20%;
}

.health-bar-high,
.health-bar-medium,
.health-bar-low {
    height: 1vh;
}

.health-bar-high {
    background-color: green;
}

.health-bar-medium {
    background-color: orange;
}

.health-bar-low {
    background-color: darkred;
}