.list {
    text-align: center;
    height: 75.75vh;
    width: 20.85vw;
    background-image: url("../../../../assets/game-background.png");
    background-size: 100% 100%;
    color: rgba(0, 0, 0, 0.7);
    letter-spacing: 0.05em;
    animation: render 2s forwards;
    min-width: 340px;
    min-height: 700px;
    justify-content: space-between;
}

.change-list-button {
    min-width: 1vw;
}