h4 {
    color: black;
}

.filters {
    animation: render 1s forwards;
}

.inventory-item,
.items-filter,
.items-actual-filter {
    background-color: #f8f5de;
    background-image: linear-gradient(to right, rgba(255, 210, 0, 0.4), rgba(200, 160, 0, 0.1) 11%, rgba(0, 0, 0, 0) 35%, rgba(200, 160, 0, 0.1) 65%);
    box-shadow: inset 0 0 12px rgba(255, 210, 0, 0.3), inset 0 0 5px rgba(255, 210, 0, 0.4), inset 0 0 7px rgba(220, 120, 0, 0.8);
    color: rgba(0, 0, 0, 0.8);
}

.inventory-grid {
    margin-top: 50px;
    width: 250px;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    animation: render 1s forwards;
}

.inventory-item {
    height: 175px;
    position: relative;
}

.inventory-item-buttons {
    display: inline-grid;
    grid-template-columns: 100px 100px;
    grid-gap: 105px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.item-icon {
    padding: 0%;
    height: 85px;
    width: 85px;
    float: right;
}

.items-filter,
.items-actual-filter {
    cursor: pointer;
}

.items-actual-filter {
    margin-bottom: 4.5rem;
}

.weapon-icon {
    background-image: url('./../../../../../assets/weapon-icon.png');
}

.chest-icon {
    background-image: url('./../../../../../assets/armor-icon.png');
}

.other-icon {
    background-image: url('./../../../../../assets/other-icon.png');
}